nav > .nav.nav-tabs{
  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link{
    border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active{
    border: none;
    padding: 18px 25px;
    color:#fff;
    background:rgb(153,0,51);
    border-radius:0;
}


nav > div a.nav-item.nav-link.active:after {
  content: "";
  position: relative;
  bottom: -60px;
  left: -20%;
  border: 15px solid transparent;
  border-top-color: rgb(153,0,51) ;
}

.tab-content{
    line-height: 25px;
    border: 1px solid rgb(153,0,51);
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus{
  border: none;
    background:rgb(153,0,51);
    color:white;
    border-radius:0;
    transition:background 0.20s linear;
}